.chat{
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
}
.header{
    background-color: #293B5F;
    color: white;
    padding: 10px;
}

.username{
    margin-left:35%;
}
.logout{
    margin-left:38%;
}
#users,#chat-space{
    border: 1px solid black;
    height: 90vh;
    
}

.profilePic{
    height:30vh;
    border: 1px solid black;
}

.profilePic img{
    border-radius: 50%;
    /* height: 20vh;
    width:20vw */
    width: 100px;
    height: 100px;
    margin-left: 33%;
    margin-top: 2vh;
}

.dp{
    margin-left: 1vw;
    cursor: pointer;
}

.dp:hover{
    color: grey;
}

.header-contact{
    background-color: #293B5F;
    color: white;
    padding: 5px 2px;
}

td img{
    border-radius: 150px;
    height:5vh;
}

.contactlist{
    margin-top:3px;
    max-height: 90vh !important;
    overflow-y: scroll !important;
}

.table-hover  tbody tr:hover{
    background-color:#97a4c2;
}

/* .status{
    border-radius: 50%;
    width:1px;
    height:1px;
    border: 1px solid black;
} */

.usertypes{
  
    color: white;
    padding: 2px 5px;
    background-color:#2c3e61;
    margin: 80px;
    cursor: pointer;

}

span .usertypes :hover{
    background-color: rgb(236, 142, 126);
}