



 <div class="add col-lg-8 text-center"  data-target="#addContactModal" data-toggle="modal">CHAT HERE  <i class="fas fa-comments"></i></div>

<div class="card container">
    
    <div class="card-header infoBar">
         <span  class="toName"  style="margin-right: 43vw;"><i class='fas fa-user-alt'style='font-size:28px'></i> <b>                                                                               {{toUser}}</b></span>
         <span *ngIf="!isBlocked" class="opt"> <button (click)="blockUser()" title="Block User" class="btn btn-danger">Block <i class="fas fa-user-alt-slash"></i></button></span> 
         <span *ngIf="isBlocked" class="opt"> <button (click)="unblockUser()" title="Unlock User" class="btn btn-outline-danger">Unblock <i class="fas fa-user-alt"></i></button></span> 
         <span *ngIf="!isMuted" class="opt"> <button (click)="muteUser()" title="Mute User" class="btn btn-warning">Mute <i class="fas fa-volume-mute"></i></button></span>       
         <span *ngIf="isMuted" class="opt"> <button (click)="unmuteUser()" title="Unmute User" class="btn btn-outline-warning">Unmute <i class="fas fa-volume-off"></i></button></span>
         <span><button (click)="closeChat()" title="Close Chat" class="close"><i class="fas fa-times" style="color: white;"></i></button></span>
    </div>
    
    <div class="chat-content card-body messages">
    <!-- chat messages ui -->
    <div *ngFor="let message of messageArray">
          <!-- <div class="message">
              <p> <b> {{message.from}}: &nbsp;</b> {{message.message}} </p>
              <img src="http://localhost:3000/uploads/{{message.image}}" *ngIf="message.image">                       
          </div> -->
          <div class="card my-message" *ngIf="message.from==username">
            <h5 class="card-header userHandle"><b>You &nbsp;</b> <i class="fas fa-ellipsis-h menu" title="Forward Message" data-target="#forwardModal" data-toggle="modal" (click)="saveForwardData(message)"></i></h5>
            <div class="card-body messageBody">
              <p class="card-text"> {{message.message}}</p>
              <img src="http://localhost:3000/uploads/{{message.image}}" *ngIf="message.image">
              <span style="font-size: xx-small;color:black;" class="ml-auto d-flex">{{message.date}}</span>
            </div>
          </div><br>

          <div class="card contact-message" *ngIf="message.from!=username">
            <h5 class="card-header userHandle"><b> {{message.from}} &nbsp;</b> <span *ngIf="message.isForwarded"><em>Forwarded</em></span><i  class="fas fa-ellipsis-h menu" title="Forward Message"  data-toggle="modal" data-target="#forwardModal" (click)="saveForwardData(message)"></i> </h5> 
            <div class="card-body messageBody">
              <p class="card-text"> {{message.message}}</p> 
              <img src="http://localhost:3000/uploads/{{message.image}}" *ngIf="message.image"> 
              <span style="font-size: xx-small;color:black;" class="ml-auto d-flex">{{message.date}}</span>
              
            </div>
          </div><br>
    </div>
    
    </div>
    <hr>

    <!-- form for sending message -->
    <form #sendForm="ngForm" (ngSubmit)="sendMessage()" *ngIf="!isBlocked">
    <div class="chat-send row">
        <div class="col-lg-8 form-group">

         

           <input style="font-family: fantasy;" type="text" class="form-control" name="message" id="input-message"
              placeholder="Type your message here.." [(ngModel)]="newMessage">
 
        </div>
        <div class="col-lg-2 form-group">
          <input type="file" class="form-control" name="myfile" multiple style="border:none;justify-content:left;padding-right: 0;color: white;" name="image" id="input-image" (change)="selectImage($event)">
           
          <!--
          <input type="file" class="form-control" style="border:none;justify-content:left;padding-right: 0;color: white;" name="image" id="input-image" (change)="selectImage($event)">
        
        -->
        </div>
        <div class="col-lg-2 form-group" >
            <button type="submit" class="btn btn-outline-primary">Send <i class="fas fa-paper-plane"></i></button> 
            
        </div>
    </div>
    </form>
    


    <div class="alert alert-danger text-center" role="alert" *ngIf="isBlocked">
        <strong>UNBLOCK user to start messaging</strong>
      </div>
</div>

<!-- Modal -->
<div class="modal fade" id="forwardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Forward Message</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> <i  class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
           <div >
            <table class="table table-striped">
     
                <tbody>
                  <tr *ngFor="let i of contactsList">
                    
                    <td>{{i.name}}</td>
                    <td><button (click)="forwardMessage(i)"><i  class="fas fa-share"></i></button></td>
                  </tr>
 
                </tbody>
              </table>


           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  