
*{
    top:10vh;
    left:20vh;
    bottom: 10vh;
  }
  #imageContainer{
      
      background-image: url('../../../assets/images/dp.jpeg');
      background-size:contain;
      background-repeat: no-repeat;
      height: 70vh;
      width: 80vw;
  }
  
  #formContainer .card{
     left: 0;
     top: 20px;
     width:80%;
  }
  
  h2,i{
      color: #293B5F;
  }
  
  .btn{
    margin:20px;
    background-color:#d9e1f3;
  }
  
  .card-header{
      color: #293B5F;
      font-size: larger;
  }

  .alert{
      left:0 !important;
  }